<!doctype html>
<html>

<head>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./index.css">
  <!-- 引入组件库 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <title>vue demo</title>
</head>

<body>
  <div id="app" v-bind:title="message">
    <p v-if="show" id="pp">{{message}}</p>
    <el-input v-model="message" placeholder="请输入内容"></el-input>
    <p>{{message}}</p>
    <vtable v-for="item in todos" v-bind:a="item" vbind:key="item.id"></vtable>
  </div>
  <div id="app2">
    <template v-if="show">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="date" label="日期">
        </el-table-column>
      </el-table>
    </template>

    <el-button type="primary" v-on:click="show=!show">主要按钮</el-button>
  </div>
</body>

<footer>
  <script src="./main.js"></script>
</footer>

</html>
